:root {
	--header-size: 15%;
	--container-width: 100%;
}
@media screen and (min-width: 800px) {
	:root  {
		--header-size: 245px;
		--container-width: 800px;
	}
}

* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue Custom";
	color: #fff;
}
@font-face {
	font-family: "Helvetica Neue Custom";
	src: url("../fonts/HelveticaNeueLTPro-ThEx.otf");
}

a {
	color: #fff;
}
img {
	border-style: none;
}
.container {
	position: relative;
	z-index: 2;
	width: var(--container-width);
	margin: 0 auto;
}

ul.noliststyle {
	list-style-type: none;
}

#header {
	position: relative;
	z-index: 2;
	background: url("../images/backgrounds/header_bg.png") repeat-x;
	height: var(--header-size);
	border-bottom: 5px #000 solid;
}

#header .container {
	height: 100%;
}

#header h1 {
	position: absolute;
	bottom: 0;
	display: inline;
	margin-right: 160px;
	height: inherit;
}

#header h1 * {
	position: inherit;
	bottom: inherit;
}

#header h1 img {
	width: 292px;
	height: 55px;
}
#header h1 span {
	display: none;
}

#content {
	height: 100%;
}

#content .container {
	background: rgba(0, 0, 0, 0.5);
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

#aboutme {
	margin: 0 auto;
	padding-top: 30px;
	width: 80%;
}
#aboutme p:not(.nospace), #aboutme ul {
	padding-bottom: 35px;
}
#aboutme ul:not(.noliststyle) {
	list-style-type: circle;
}
#aboutme ul li {
	margin-left: 30px;
}
#aboutme ul.noliststyle li {
	margin-left: 15px;
}
