:root {
	--header-size: 15%;
	--container-width: 100%;
}
@media screen and (min-width: 800px) {
	:root  {
		--header-size: 245px;
		--container-width: 800px;
	}
}

* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue Custom";
	color: #fff;
}
@font-face {
	font-family: "Helvetica Neue Custom";
	src: url("../fonts/HelveticaNeueLTPro-ThEx.otf");
}

a {
	color: #fff;
}
img {
	border-style: none;
}
.container {
	position: relative;
	z-index: 2;
	width: var(--container-width);
	margin: 0 auto;
}

ul.noliststyle {
	list-style-type: none;
}

#header {
	position: relative;
	z-index: 2;
	background: url("../images/backgrounds/header_bg.png") repeat-x;
	height: var(--header-size);
	border-bottom: 5px #000 solid;
}

#header .container {
	height: 100%;
}

#header h1 {
	position: absolute;
	bottom: 0;
	display: inline;
	margin-right: 160px;
	height: inherit;
}

#header h1 * {
	position: inherit;
	bottom: inherit;
}

#header h1 img {
	width: 292px;
	height: 55px;
}
#header h1 span {
	display: none;
}

/*
	Full screen centered background solution from
	https://css-tricks.com/perfect-full-page-background-image/#article-header-id-2
 */
#bg {
	position: fixed;
	top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;

	/* Filter for B&W background image */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

#content .container {
	background: rgba(0, 0, 0, 0.5);
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

#aboutme {
	margin: 0 auto;
	padding-top: 30px;
	width: 80%;
}
#aboutme p:not(.nospace), #aboutme ul {
	padding-bottom: 35px;
}
#aboutme ul:not(.noliststyle) {
	list-style-type: circle;
}
#aboutme ul li {
	margin-left: 30px;
}
#aboutme ul.noliststyle li {
	margin-left: 15px;
}
